* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: tahoma;
}

body{
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
}
a.mobile {
        display: none;
    }

a{
    text-decoration:none;

}

.content > .contentHeader .headerContainer> h1{
    color:#ccc;
}
.content > .contentHeader .headerContainer > img{
   height:40px;
   margin-left: 20px;

   float: right;
}
.headerContainer{

    display: flex;
    margin-bottom: 20px;
    
}
.content > .contentHeader  {
   display: flex;
}
.content > .banner{
    background-color: #ccc;
    border-radius: 5px;
    height:24px;
    margin-top: 10px;
    width: 100%;
    color:#333;
    padding:5px;

}
div#header{
    display: flex;
    justify-content: space-between;
    width:100%;
    padding: 10px;
    height:60px;
    background-color:#222 ;
    margin: 0 auto;
}
.profile > .pic{
    height:30px;
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 100%;
    cursor: pointer;
}
.profile > .chat{
    height:20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 100%;
    cursor: pointer;
}
.logo{
    float:left;
    margin-top: 10px;
    margin-left: 10px;
  
}
 
.logo a {
    font-size: 1.3em; 
     color:#fff;
     opacity:0.8;
}
.logo a span{
    font-weight: 500;
}

div#container{
    width:100%;
    margin: 0 auto;
    height: fit-content;

}
.sidebar {
    width: 250px;
    height :fit-content;
    background-color: #171717;
    float:left;
}

ul#nav  li a {
    color: #ccc;
    display: block;
    padding: 10px;
    font-size: 1em;
    border-bottom: 1px solid #0a0a0a;
    -webkit-transition:  0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;

    
}

ul#nav li a:hover{
    background-color: #030303;
    color:#C0D05F;
    
}

ul#nav li a.selected{
    background-color: #030303;
    color:#C0D05F;
    
}



.box-panel{
    display: flex;
   flex-direction: row;
   justify-content: space-between;
}


.content {
    width: auto;
    margin-left: 250px;
    height: 100%;

    padding:15px;
}
.content p{
 color:#424242;
 font-size: 0.73em;

}
.boxIcon .number {
    text-align: center;
    margin-right: 40px;
margin-top: 30px;
    font-size: 2em;
}

.panelBox > .boxIcon > img{
height:80px;
width: 80px;
border: 2px solid #C0D05F;
border-radius: 100%;
padding: 10px;
}
.panelBox > .boxIcon {
  background-color: #333;
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
  margin-left: 20px;
    }
.panelBox{
   border:2px solid #333;
   width:250px;
   height: 200px;
   background-color: #333;


    }

    .panelBox:hover{
        animation-name:border;
        animation-duration: 3s;
    }
    
 .blogPagination > .pagination > ul >  .active {

    border-left: 1px solid #C0D05F;
    border-right: 1px solid #C0D05F;
    background-color: transparent;
        
         }
.blogPagination > .pagination > ul > li > a{
text-decoration: none;
color:#C0D05F;
font-size:12px;
text-align: center;
font-weight: bold;
margin-left: 5px;

}
 .blogPagination > .pagination > ul > li > a:hover{

color:#ccc;
border-bottom: 1px solid #ccc ;

 }
 .blogPagination > .pagination > ul > li {
list-style: none;
display:inline;

margin:5px;

 }
  .blogPagination > .pagination > ul {

text-align: center;
margin-bottom: 20px;
margin-top:50px;
margin-left: 30px;

 }

    @keyframes border {
    
        0% {
            
        border-top:2px solid #C0D05F;
        border-left:2px solid #C0D05F;

        }
        30%{
            border-bottom:2px solid #C0D05F;  
             border-right:2px solid #C0D05F;
        }
    
    
    
    }


    .panelBox > .boxName > p{
        color: #C0D05F;
        margin-left: 20px;
        margin-top: 10px;
        font-weight: bold;
        }

div#box{
    margin-top:15px;

}
.progress{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 90%;
    border-radius: 30px;
    color:#fff;
     border: 1px solid #C0D05F;
}
.progressRate{
    display: block;
    height: 10px;
    background-color:#C0D05F;  
    width: 40%;
    border-radius: 10px;
    padding-left: 5px;
}
.consumptionContainer{
    display: flex;
    
    width:100%;
}
.consumption{
    background-color: #333;
    margin-left: 20px;
    width:100%;
}
div#box .box-top{
    color: #C0D05F;
    text-shadow: 0px  1px #000;
    background-color: #333;
    padding:5px;
    padding-left:15px;
    font-weight: 300;
}
.box-top{
    color: #C0D05F;
    text-shadow: 0px  1px #000;
    background-color: #222;
    padding:5px;
    padding-left:15px;
    font-weight: 300;
}
.usersList .box-panel{
    padding:15px;
    background-color: #222;
    color:#cccc;
    
    
}
div#box .box-panel{
    padding:15px;
    background-color: #222;
    color:#cccc;
    
    
}
a.mobile{
    display: block;
    color:#fff;
    background-color: #000;
    padding: 7px;
    text-align:center;
}

a.mobile:active {
    background-color: #4a4a4a;
}



.modalContent{
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width:70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 0 rgba(0, 0, 0, 0.17);

}

#closeBtn{
    color: #ccc;
    float: right;
    font-size: 30px;
}
#closeBtn:hover{
    color: #333;
  text-decoration: none;
    cursor: pointer;
}

tr > td > img{
    height:30px;
    border-radius: 100%;
}
tr > th{
   color: #C0D05F;
   font-weight: 600;
   font-size: 15px;
}
table{
   text-align: center;
    width: 100%;
    margin-bottom: 20px;
    

}
.descri{
    width: 300px;
}
tr {
    height:40px;

}
td{
    color:#ccc;
    font-size: 12px;
}

.online{
    color:#0ff000;
}
.offline{
    color:rgb(245, 72, 72);
}


.createPostSection button{
    background-color: #C0D05F;
    border: 1px solid #C0D05F;
    margin-top: 20px;
    color:#fff;
    width:100px;
    height:40px;
    cursor: pointer;
}


#addUser{
    display: none;
    background-color: #333;
    margin-top: 20px;
    position: absolute;
    height: fit-content;
    width:500px;
    top:0%;
    left:30%;
    padding: 15px;
    margin-bottom: 20px;
    
}
#addPage{
    display: none;
    background-color: #333;
    margin-top: 20px;
    position: absolute;
    height: fit-content;
    width:fit-content;
    top:0%;
    left:30%;
    padding: 15px;
    margin-bottom: 20px;
    
}
.modal-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C0D05F ;
    width: 100%;
    margin-bottom: 20px;
    
}
.closeBtn{
    background-color: #333;
    color:#C0D05F;
    border: 1px solid #333;
   
    font-size: 18px;
    cursor: pointer;
}
.closeBtn:hover{

    color: #ccc;
}
.modalTitle{
    color:#C0D05F;
    
}
.modalBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}
label{
    color: #ccc;
    margin-bottom: 10px;

}
.input{
    height:30px;
    background-color: #666;
    border: 1px solid #666;
    color:#fff;
    padding: 15px;
}
.input::placeholder{
color:#fff;

}

.modal-footer{
    display: flex;
    justify-content: flex-end;

}

.footerBtn{
    background-color:#ff0f0fd8;
    border:1px solid #ff0f0fce;
    color:#fff;
    width:70px;
    height:30px;
    cursor: pointer;
}

.saveBtn{
    background-color:#C0D05F;
    border:1px solid #C0D05F;
    color:#fff;
    width: 100px;
    margin-left: 20px;
    height:30px;
    cursor: pointer;
}


.blogsListTitle h5{
margin:20px 0px 20px 0px;
    color: #C0D05F;
    border: 1px solid #333;
    background-color: #333;
width:100%;
height:50px;
padding: 15px;

}

.blogPicture img{
    height: 150px;
    width:250px;
    border: 1px solid #111;
}
.authorDetails img{
    height: 10px;
    margin-left: 20%;
    
}

.blogContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blog{
    display: flex;
    flex-direction: column;
    width:251px;
    border: 1px solid #111;
    background-color: #111;
}
.blogDescription p{
    color:#ccc;
    text-align: center;
}
.blogTime p{
    color: #C0D05F;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.blogTitle{
    color:#C0D05F;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blogAction{
    margin-top: 20px;
    margin-bottom: 20px;

}
.actionContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.editBtn{
    background-color: #34e710;
    color: #f4f4f4;
    border: 1px solid #34e710;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;

}
.viewBtn{
    background-color: #107fe7;
    color: #f4f4f4;
    width: 60px;
    height: 30px;
    border: 1px solid #107fe7;
    margin-right: 10px;
    cursor: pointer;
}
.deleteBtn{
    background-color: #f02d2d;
    color: #f4f4f4;
    width: 60px;
    border: 1px solid #f02d2d;
    height: 30px;
    cursor: pointer;
}
.profileDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.details .description{
    display: flex;
    flex-direction: column;
    width:500px;

}
.details img{
    height: 100px;
    border-radius: 100%;
    margin-right: 20px;
}

.profileSection{
    margin-top: 20px;
    padding: 20px;
    background-color: #222;
    
    margin-bottom: 1px solid #ccc;
}
.details{
    display: flex;
    flex-direction: row;
    
}
.profileDetails button{
    margin-top: 50px;
}
.name h4 {
color:#ddd;
font-style: italic;
margin-bottom: 5px;
}
.email p{
    color:#C0D05F;
    opacity: 0.7;
    margin-bottom: 5px;
}


.phone p,.address p,.aboutMe p{
    color:#ccc;
    margin-bottom: 5px;
}


.profileViewControl{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #222;
    padding-left: 20px;
    border-top: 1px solid #ccc;
    height:fit-content;
}

.aboutBtn{
    background-color: #C0D05F;
    color: #f4f4f4;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    border: 1px solid #C0D05F;
    height: 30px;
    cursor: pointer;
}
.changeBtn{
    margin-top: 20px;
    margin-right: 20px;
    background-color: #ccc;
    color: #333;
    width: 80px;
    border: 1px solid #ccc;
    height: 30px;
    cursor: pointer;
}
.changeBtn:hover{
    border: 1px solid #C0D05F;
    background-color: #C0D05F;
    color: #f4f4f4;
}

.profileView{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #222;
    padding: 20px;

}

.head{
   
    justify-content: space-between;
    color: #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}



@media only screen and (max-width: 857px){
    .descri{
        width: 100px;
        font-size: 10px;
    }

    .deleteBtn,.editBtn,.viewBtn{
        width: 40px;
        font-size: 11px;
        height: 25px;
        margin-right: 0px;
        margin-top: 10px;
    }
    button{
        margin-left: 5px;
    }

    .boxName{
        margin-left: 12px;
        margin-bottom: 10px;
    }
    .boxIcon .number {
        text-align: center;
        margin-right: 10px;
    margin-top:3px;
        font-size: 12px;
    }
    .panelBox > .boxIcon {
        background-color: #333;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      
       
          }
          tr > th{
            color: #C0D05F;
            font-weight: 600;
            font-size: 12px;
         }
   .sidebar{
      width: 100%;
      display: none;
       position:absolute;
   }
   .content{
       margin-left: 0px;
   }
   .consumptionContainer{
    flex-direction: row;
    
}
.blogContainer{
  
    flex-direction: column;
    justify-content: space-between;
    
   
}.blogPicture img{
    height: 150px;
    width:100%;
    border: 1px solid #111;
}
.blog{
    display: flex;
    flex-direction: column;
    width:100%;
    border: 1px solid #111;
    background-color: #111;
    margin-bottom: 20px;
}
.content > .contentHeader {
    
    flex-direction: column;
 }
 .panelBox > .boxName > p{
  
    margin-left: 10px;
  
    
    }


    #addUser{
        
        width:500px;
        top:0%;
        left:25%;
        
        
    }
    #addPage{
        
        width:500px;
        top:0%;
        left:25%;
        
        
    }

 .headerContainer h1{
font-size:20px;
margin-top: 10px;
 }
.panelBox > .boxIcon > img{
    height:50px;
    width: 50px;
    }
    .panelBox > .boxIcon {
      background-color: #333;
      margin-top: 10px;
      margin-left: 10px;
        }
    .panelBox{
       border:1px solid #333;
       width:75px;
       height: 100px;
       background-color: #333;
    

        }

       .panelBox .progress{
            display: none;
        }
        *{
     font-size:12px;
 }
 


}

